fastapi
uvicorn
sentence-transformers
faiss-cpu
numpy
nuitka
scikit-learn
msgpack-asgi
gunicorn
httpx
deepl

# --- PyTorch pour CPU seulement ---
--extra-index-url https://download.pytorch.org/whl/cpu
torch
